<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967917004038-u1nvqk4std2b6n353mmeqtq0iqs6mq0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967917004038-u1nvqk4std2b6n353mmeqtq0iqs6mq0n</string>
	<key>API_KEY</key>
	<string>AIzaSyBuGuNCNaNGD3TH7rkBIXdxb482Ex0Nklk</string>
	<key>GCM_SENDER_ID</key>
	<string>967917004038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pbook</string>
	<key>PROJECT_ID</key>
	<string>pbook-ad969</string>
	<key>STORAGE_BUCKET</key>
	<string>pbook-ad969.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967917004038:ios:585a4ae995fec42d1fea87</string>
</dict>
</plist>